@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply p-0 m-0;
	@apply text-gray-50;
	font-family: "Poppins", sans-serif !important;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

@font-face {
	font-display: swap;
	font-family: "Soopafresh";
	src: url(/font/soopafresh.ttf);
}

.font-brand {
	font-family: "Soopafresh", sans-serif;
}

@layer utilities {
	.text-shadow {
		text-shadow: 0px 0px 8px #bc249a;
	}
	.text-shadow-md {
		text-shadow: 0px 0px 16px #bc249a;
	}
	.text-shadow-lg {
		text-shadow: 0px 0px 24px #bc249a;
	}
	.text-shadow-xl {
		text-shadow: 0px 0px 32px #bc249a;
	}
	.text-shadow-none {
		text-shadow: none;
	}
}
